@page
@model BookStoreRazor.Pages.Categories.Create
@{
    ViewData["Title"] = "Create Category";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Create Category</h2>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Category.Name"></label>
            <input asp-for="@Model.Category.Name" class="form-control" type="text" />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Category.DisplayOrder"></label>
            <input asp-for="@Model.Category.DisplayOrder" class="form-control" type="text" />
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>

        <button style="width: 150px;" type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>